**/.git
**/.svn
**/.hg
**/CVS
**/.DS_Store
**/Thumbs.db
**/.classpath
**/.factorypath
**/.project
**/.settings
**/dump.json
jspm_packages/
node_modules/
out/*
**/*.html
**/.*.report
**/.*.cache


/.changes